.create-loadout-view {
  color: white;
}

.equipped-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 800px;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
