@import "../../styles/colors.scss";

.create-loadout-view {
  color: white;
  padding: 10px;
}

.retrieving-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-loadout-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;

  background-color: $omolon-slate;
  border: 2px solid $omolon-teal;
  padding: 30px;

  .omolon-button {
    padding: 30px 40px;
    margin: 10px;
    margin-right: 0;
    background-color: white;
    border: 0;
    cursor: pointer;
    color: $omolon-teal;
    text-shadow: none;
    font-weight: bold;
    border: 4px solid darken($omolon-teal, 15%);
  }
}

.equipped-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  margin: 10px;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.loadout-item-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-grow: 1;

  .excluded {
    color: darken(white, 50%);
    text-decoration: line-through;
  }

  div {
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }

  h4 {
    margin: 10px;
  }

  p {
    margin: 7px;
  }
}

.loadout-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;

  font-size: 16px;

  input[type=text] {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
  }
}

.submit-status {
  padding: 20px;
  background-color: white;
  font-weight: bold;
  color: $omolon-charcoal;

  &.success {
    border: 3px solid $omolon-teal;
  }
  &.fail {
    border: 3px solid red;
  }
}

.save-button {
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
}
