@import "../../styles/colors.scss";

.omolon-button {
  text-decoration: none;
  background-color: white;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    bottom: 0;
    left: -10px;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
  }

  .stretch {
    display: inline-block;
  }

  &:hover {
    transition: 0.5s;

    img {
      opacity: 0.2;
    }
  }
}
