/* Energy types */
$energy-solar: #f16319;
$energy-arc: #79bde8;
$energy-void: #a777c5;

/* Game platforms */
$platform-xbox: #4caf50;
$platform-playstation: #3f51b5;
$platform-steam: #165b83;
$platform-blizzard: #009ae4;
$platform-stadia: #da2b48;

/* Gear types */
$tier-legendary: 279,36%,29%;
$tier-rare: 213,34%,48%;
$tier-uncommon: 126,35%,32%;
$tier-common: 0,0%,80%;
$tier-exotic-dark: 48,71%,5%;
$tier-legendary-dark: 279,36%,5%;
$tier-rare-dark: 213,34%,6%;
$tier-uncommon-dark: 126,35%,5%;
$tier-common-dark: 0,0%,7%;
