@import "./colors.scss";

html {
  font-family: Helvetica, sans-serif;
  background-color: $omolon-charcoal;

  a {
    text-decoration: none;
  }

  h1 {
    margin: 20px;
  }
}

body {
  margin: 0;
  padding: 0;
}
